<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bangers&family=Birthstone&family=Chocolate+Classical+Sans&family=Knewave&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Staatliches&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
   

        

        

        <header>
            <nav>
                <a href="/" style="text-decoration: none; color: white;"><h1>BiteBack</h1></a>
                <div class="header">
                    <li><a href="/"><h3>Home</h3></a></li>
                    <li><a href="/about"><h3>about us</h3></a></li>
                    <li><a><h3>donate</h3></a></li>
                    <li><a href="/contact"><h3>contact</h3></a></li>
                    <li style="text-align: start;"><a class="sign-link" href="/signup"><h3 class="signup-button">sign up</h3></a></li>
                </div>
                
               
            </nav>
            <div class="nav-content">
                <h1>Share hope through <br>Every meal</h1>
                <h3>Join our mission to fight hunger and create lasting change in our community.</h3>
            </div>
            <div class="btn">
                <a href="/upload"><button style="background-color: #FF6B6B;" class="donate">donate now</button></a>
                <a href="#learn-more"><button style="background-color: transparent;" class="learn-btn">learn more</button></a>
            
            </div>
        </header>
        <div class="bottom"> 
            <div class="text">
                <span><h1>50k+ </h1> <h3>meals shared</h3></span>
                <span><h1>1000+ <h3>volunteers</h3></h1></span>
                <span><h1>20+ <h3>communities</h3></h1></span>
            </div>
            <div id="learn-more">
                <div class="learn1">
                    <h1> Making a Difference, One Meal at a Time</h1>
                    <p style="margin-top: 20px;">Every day, tons of food go to waste while millions of people struggle with hunger.
                        Our platform bridges this gap by connecting restaurants, hotels, and households with NGOs that distribute excess food to those in need. 
                        By donating surplus food instead of wasting it, you can help fight hunger, 
                        reduce food waste, and make a real social impact.</p>
                </div> 
                <div class="learn2">
                    <h1 style="margin-bottom: 20px;">How It Works:</h1>
                    <ul>
                        <li>List Your Excess Food – Upload images, mention quantity, and provide pickup details.</li>
                        <li>NGOs Browse Listings – Verified NGOs can view food listings and request pickups.</li>
                        <li>Seamless Donation Process – Once an NGO claims a listing, they coordinate for collection and</li>
                    </ul>
                    <h1 style="margin: 30px 0 20px 0;"> Why Donate?</h1>
                    <ul>
                        <li> Tax Benefits & Incentives – Eligible businesses can receive tax deductions.</li>
                        <li>Recognition & Social Impact – Featured donors get public appreciation.</li>
                        <li>Hassle-Free Process – Quick, easy, and meaningful way to help the community.</li>
                    </ul>
            <div class="last-btn" style="display: flex; justify-content: space-evenly;">
                <a href="/upload"><button class="btn2">join now</button></a>
              
            </div>

                </div>  
            </div>
        </div>
    </div>
<script src="/app.js"></script>       
</body>
</html>