<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="/display.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Birthstone&family=Chocolate+Classical+Sans&family=Knewave&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Staatliches&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <header>
            <nav>
                <a href="/" style="text-decoration: none; color: black;"><h1>BiteBack</h1></a>
                <div class="header">
                    <li><a href="/"><h3>Home</h3></a></li>
                    <li><a href="/about"><h3>about us</h3></a></li>
                    <li><a><h3>donate</h3></a></li>
                    <li><a href="/contact"><h3>contact</h3></a></li>
                </div>
            </nav>
        </header>
        <section>
            <div class="postContainer" >

            </div>

        </section>
<script>
async function fetchPost() {
    const username = localStorage.getItem("username"); // Get from Local Storage
    console.log(username)
    if (!username) {
        console.error("No username found in Local Storage");
        return;
    }

    
    console.log("Stored username:", username);

    try {
        const response = await fetch(`http://localhost:8080/postDetails?username=${username}`);
        const posts = await response.json();
        

        if (response.ok) {
            displayPost(posts);
        } else {
            console.log("Error fetching post");
        }
    } catch (err) {
        console.log("Error:", err);
    }
}



        function displayPost(posts) {
        const container = document.querySelector(".postContainer");
        container.innerHTML = ""; // Clear previous content

        posts.forEach(post => {
            const postElement = document.createElement("div");
            postElement.classList.add("post");

            postElement.innerHTML = `
                <h3 class="name">${post.foodname}</h3>
                <p class="quantity">Quantity: ${post.quantity}</p>
                <p class="desc">Description:${post.description}</p>
                <p class="contact">Contact: ${post.contact}</p>
                ${post.image ? `<img src="data:image/png;base64,${post.image}" alt="Food Image" width="200">` : ""}
                <br><button class="delete" data-id="${post.id}"> Delete</button>

            `;

            container.appendChild(postElement);
        });
        document.querySelectorAll(".delete").forEach(button=>{
            button.addEventListener("click",()=>{
                const postId=button.getAttribute("data-id")
                deletePost(postId)
            })
        })
    }

 
async function deletePost(postId) {
    const confirmDel= confirm("are you sure u wanna delete this post?")
    console.log("Deleting post with ID:", postId);
    if (!confirmDel)return;

    try{
        const response= await fetch(`http://localhost:8080/delete/${postId}`,{
            method:"DELETE"
        });
    const data=await response.json();
    alert(data.message);
    if(response.ok){
        fetchPost()
    }

    }catch(err){
        console.log("error deleting post",err)
        alert("failed to delete post");
    }

    
}    

document.addEventListener("DOMContentLoaded", fetchPost);    
    
</script>        
</body>
</html>
